@using Newtonsoft.Json;
@using Rock_Paper_Scissors.Models;
@using static Rock_Paper_Scissors.Enums.Enums;

@model Rock_Paper_Scissors.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Settings";
}

<div class="text-center mt-5">
    <h1 class="display-4">Settings</h1>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @if (ViewData.ModelState.IsValid == false)
    {
        @Html.ValidationSummary(false, null, new {@class = "alert alert-danger"})        
    }
    
    <div class="card bg-light mb-3">
        <div class="card-body">
            <p>Game Mode:</p>

            <div class="form-group mb-3">
                <label class="radio-label">
                    @Html.RadioButtonFor(m => m.Index_IsCpuVsCpu, false, new { @id = "radiobutton_MeVsCpu" }) Me vs CPU
                </label>
                <label class="radio-label">
                    @Html.RadioButtonFor(m => m.Index_IsCpuVsCpu, true, new { @id = "radiobutton_CpuVsCpu" }) CPU vs CPU
                </label>
            </div>
        </div>       
    </div>

    <div class="card bg-light mb-3">
        <div class="card-body">
            <p>CPU Difficulty:</p>

            <div class="form-group mb-3">
                <label class="radio-label">
                    @Html.RadioButtonFor(m => m.Index_CpuDifficulty1, Enum_CpuDifficulty.Beginner) Beginner
                </label>
                <label class="radio-label">
                    @Html.RadioButtonFor(m => m.Index_CpuDifficulty1, Enum_CpuDifficulty.Intermediate) Intermediate
                </label>
                <label class="radio-label">
                    @Html.RadioButtonFor(m => m.Index_CpuDifficulty1, Enum_CpuDifficulty.Advanced) Advanced
                </label>
            </div>
        </div>        
    </div>

    <div class="card bg-light mb-3" id="div_DifficultyCpu2" style="display:none;">
        <div class="card-body">
            <p>CPU 2 Difficulty:</p>

            <div class="form-group mb-3">
                <label class="radio-label">
                    @Html.RadioButtonFor(m => m.Index_CpuDifficulty2, Enum_CpuDifficulty.Beginner) Beginner
                </label>
                <label class="radio-label">
                    @Html.RadioButtonFor(m => m.Index_CpuDifficulty2, Enum_CpuDifficulty.Intermediate) Intermediate
                </label>
                <label class="radio-label">
                    @Html.RadioButtonFor(m => m.Index_CpuDifficulty2, Enum_CpuDifficulty.Advanced) Advanced
                </label>
            </div>
        </div>       
    </div>

    <input type="submit" Value="Start Game" class="btn btn-primary" />
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var difficultyCpu2 = $('#div_DifficultyCpu2');

            function ShowHideDifficulty() {
                var isCpuVsCpu = $('#radiobutton_CpuVsCpu').is(':checked');
                if (isCpuVsCpu) {
                    difficultyCpu2.show();                    
                }
                else {
                    difficultyCpu2.hide();
                }
            }

            ShowHideDifficulty();

            $('input[type=radio][name=Index_IsCpuVsCpu]').change(function () {
                ShowHideDifficulty();
            });           
        })
    </script>
}

